@CHARSET "UTF-8";
div{
	width: 150px;
	height: 150px;
	-webkit-transition: width 4s, height 4s, -webkit-transform 4s;
	transition: width 4s, height 4s, transform 4s; 
	
}
div:hover{
	width: 400px;
	height: 400px;
	background: blue;
	-webkit-transform: rotate(360deg);
	transform: skew(25deg);
	
}
ul{
	margin:0;
	margin: 0;
    padding: 0;
    width: 100px;
   
    
}
li{
	display: block;
	background-color:#808080;
	color:white;
	width:90px;
	height: 90px;
	-webkit-transition: width 2s;
	transition: width 2s;

}
li:hover{
	background-color: #ffc0cb;
	width: 300px;
	animation-name:menu;
	animation-duration:4s;
	-webkit-animation-name: menu;
	-webkit-animation-duration:1s;
	-webkit-animation-timing-function:linear;
	animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count:infinite;
	
	
}
#h{transition-timing-function: linear;}
#d{transition-timing-function: ease;}
#l{transition-timing-function: ease-in;}
#b{transition-timing-function: ease-out;}
#br{transition-timing-function: ease-in-out;}
#s{transition-timing-function:linear;}

#h{-webkit-transition-timing-function: linear;}
#d{-webkit-transition-timing-function: ease;}
#l{-webkit-transition-timing-function: ease-in;}
#b{-webkit-transition-timing-function: ease-out;}
#br{-webkit-transition-timing-function: ease-in-out;}
#s{-webkit-transition-timing-function: linear;}

@keyframes menu{
	1%{background-color:#E74C3C;}
	30%{background-color:#8E44AD;}
	65%{background-color:#2980B9;}
	85%{background-color:#17A589;}
	100%{background-color:#F1C40F;}
	25%{-web-kit-transforms:(1.2);
		-ms-transform: scale(1.2);
		transform: scale(1.2);
	}
	75%{-web-kit-transforms:scale(0.8);
		-ms-transform: scale(0.8);
		transform:scale(0.8);
	}
	
}