@CHARSET "UTF-8";
div{
	width: 150px;
	height: 150px;
	-webkit-transition: width 4s, height 4s, -webkit-transform 4s;
	transition: width 4s, height 4s, transform 4s; 
	
}
div:hover{
	width: 400px;
	height: 400px;
	background: blue;
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}
ul{
	margin:0;
	margin: 0;
    padding: 0;
    width: 100px;
   
    
}
li{
	display: block;
	background-color:#808080;
	color:white;
	width:90px;
	height: 90px;
	-webkit-transition: width 2s;
	transition: width 2s;

}
li:hover{
	background-color: #ffc0cb;
	width: 300px;
	
}
#h{transition-timing-function: linear;}
#d{transition-timing-function: ease;}
#l{transition-timing-function: ease-in;}
#b{transition-timing-function: ease-out;}
#br{transition-timing-function: ease-in-out;}
#s{transition-timing-function:linear;}

#h{-webkit-transition-timing-function: linear;}
#d{-webkit-transition-timing-function: ease;}
#l{-webkit-transition-timing-function: ease-in;}
#b{-webkit-transition-timing-function: ease-out;}
#br{-webkit-transition-timing-function: ease-in-out;}
#s{-webkit-transition-timing-function: linear;}